$t-duration: 1000ms;
$t-delay: 300ms;
$t-color: rgb(11, 10, 70);

.page-enter-active,
.page-leave-active {
  transition-duration: $t-duration;

  &::before,
  &::after {
    transition-property: transform;
    transition-timing-function: ease-in-out;
    @apply fixed text-right top-0 left-0 z-20 block text-5xl sm:text-6xl md:text-7xl lg:text-8xl text-yellow-300 font-mono w-screen h-1/2 p-10;
  }

  &::before {
    content: 'Loading...';
    background-color: $t-color;
  }

  &::after {
    content: '';
    background-color: $t-color;
    @apply top-1/2;
  }
}
.page-leave {
  &::before,
  &::after {
    transform: scaleX(0);
  }
}

.page-leave-active {
  &::before {
    transition-duration: $t-duration;
  }

  &::after {
    transition-duration: $t-duration - $t-delay;
    transition-delay: $t-delay;
  }
}

.page-leave-to {
  &::before,
  &::after {
    transform: scale(1);
  }
  &::before {
    transform-origin: left;
  }
  &::after {
    transform-origin: right;
  }
}

.page-enter {
  &::before,
  &::after {
    transform: scaleX(1);
  }
}

.page-enter-active {
  &::before {
    content: '';
    transition-duration: $t-duration - $t-delay;
    transition-delay: $t-delay;
  }

  &::after {
    transition-duration: $t-duration;
  }
}

.page-enter-to {
  &::before,
  &::after {
    transform: scaleX(0);
    transform-origin: right;
  }
}
